@font-face {
  font-family: "Futura PT Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Bold"),
    url("./resources/fonts/FuturaPTBold.otf") format("otf");
}

@font-face {
  font-family: "Futura PT Book";
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Book"),
    url("./resources/fonts/FuturaPTBook.otf") format("otf");
}

@font-face {
  font-family: "Futura PT Demi";
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Demi"),
    url("./resources/fonts/FuturaPTDemi.otf") format("otf");
}

@font-face {
  font-family: "Futura PT Extra Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Extra Bold"),
    url("./resources/fonts/FuturaPTExtraBold.otf") format("otf");
}

@font-face {
  font-family: "Futura PT Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Heavy"),
    url("./resources/fonts/FuturaPTHeavy.otf") format("otf");
}

@font-face {
  font-family: "Futura PT Light";
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Light"),
    url("./resources/fonts/FuturaPTLight.otf") format("otf");
}

@font-face {
  font-family: "Futura PT Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Medium"),
    url("./resources/fonts/FuturaPTMedium.otf") format("otf");
}
